<section class="slider-parent-container">

    <div class="slider-container">
        <div id="slider-content-wrapper" class="slider-content-wrapper">

            <div class="slider-slide">
                <img src="/public/images/games/game<%= game.id%>.png" alt="game cover image">
                <div class="info-wrapper">
                    <h2><%= game.title %></h2>
                    <p><%= game.summary%></p>
                    <a class="to-game-btn" href="<%= game.link%>" type="button">PLAY</a>

                </div>
            </div>

        </div>
    </div>

</section>